@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<h1> Skills Tracker </h1>
<h2> Coding Skills to Learn: </h2 >
<ol >
@foreach (var skill in skillsToLearn)
{
    <li >
    <p >skill</p >
    </li >
}
</ol >";*@